<div class="main">
    <div {{bindAttr class=":container showMenu::open"}}>
        <div class="sidebar">
            {{outlet 'menu'}}
        <a class="sidebar__button-close" {{action 'showMenu'}}>Close Menu</a>
        </div>
        <div class="content">
            <div class="row">
                <a class="sidebar__button-open" {{action 'showMenu'}}>Show Menu</a>
                <div class="col-xs-12">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div> 
