<section class="github__profile">
	<div class="github github__profile">
		<div class="github__profile--bio">
			<h1>About</h1>
			<ul class="github__profile--mobile">
			 	<li>
			  		<a href="mailto:tmms.vll@gmail.com?Subject=Hello%20again" target="_top" class="social-links">Email</a>
			  	</li>
			  	<li>
			  		<a href="https://es.linkedin.com/in/tommasovillafreelance" target="_blank" class="social-links">Linkedin</a>
			  	</li>
			  	<li>
			  		<a href="https://github.com/Mannaio" target="_blank" class="social-links">Github</a>
			  	</li>
					<li>
			  		<a href="https://codepen.io/Mannaio/" target="_blank" class="social-links">Codepen</a>
			  	</li>
				<li>
			  		<a href="https://twitter.com/Tommaso_Villa" target="_blank" class="social-links">Twitter</a>
			  	</li>
				<li>
			  		<a href="https://soundcloud.com/mannaio" target="_blank" class="social-links">SoundCloud</a>
			  	</li>
			</ul>
			<p>Hi, i am an italian Front end - UI Developer responsible for implementing visual elements that users see and interact with in a web application. I enjoy combine the art of design with the art of programming.
			I have been working with the Rails and Node stack on projects of significant size ( views, large well-organized styles and javascript). My framework of choice is React combined with Redux, an open-source JavaScript library for managing application state.
			I do care about CSS and Style Performance putting in action the best practices, i enjoy building for fun synthesizers with Web Audio API.</p>
			<p>Available for remote and contract works. <a class="orange" href="mailto:tmms.vll@gmail.com?Subject=Hello%20again" target="_top">Email</a> me</p>
			<div class="github__profile--tags">
				<p class="tags">HTML5</p>
				<p class="tags">JS</p>
				<p class="tags">SASS/SCSS</p>
				<p class="tags">BEM</p>
				<p class="tags">FLEXBOX</p>
				<p class="tags">REACT</p>
				<p class="tags">REDUX</p>
				<p class="tags">GULP</p>
				<p class="tags">GIT</p>
				<p class="tags">CSS PERFORMANCE</p>
				<p class="tags">PostCSS</p>
			</div>
		</div>
	</div>
	<section class="stream">
		<div>
			<div class="stream stream__git">
				<h2>Timeline</h2>
				<ul class="stream stream__info">
					<li>
						<span class="element">
							<span class="element__emitter"></span>
						</span>
						<span class="number">2019</span>
						<span class="info">Freelancer at Senovo IT</span>
						<p class="location">Spain - Italy</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2016</span>
						<span class="info">Working at William Hill</span>
						<p class="location">Gibraltar - UK</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2015</span>
						<span class="info">UI Developer at William Hill</span>
						<p class="location">Gibraltar - UK</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2013</span>
						<span class="info">Front-End Developer at Betvictor</span>
						<p class="location">Gibraltar - UK</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2012</span>
						<span class="info">Freelancer UI Developer</span>
						<p class="location">Barcelona - Spain</p>

					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2011</span>
						<span class="info">Freelancer Web Designer</span>
						<p class="location">Genova - Italy</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2009</span>
						<span class="info">Working at Hewlett Packard</span>
						<p class="location">Dublin - Ireland</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2007</span>
						<span class="info">Working at BarcalyCard</span>
						<p class="location">Dublin - Ireland</p>
					</li>
					<li>
						<span class="circle"></span>
						<span class="number">2006</span>
						<span class="info">Master Degree in Economy and Business</span>
						<p class="location">Genova - Italy</p>
					</li>
				</ul>
			</div>
		    <div class="stream stream__events">
				<h2>Latest commits</h2>
	          	{{#each model.commits}}
	          		<div class="stream stream__repos--event">
			            <p>Pushed <a class="info" target="_blank" href="{{this.branchlink}}">{{this.branch}}</a> at <a class="info" target="_blank" href="{{this.repositoryUrl}}">{{this.name}}</a></p>
						<p><a class="info" target="_blank" href="{{this.commitUrl}}">{{this.message}}</a> <span class="location">{{format-date this.date}}</span></p>
		            </div>
	        	{{/each}}
	        </div>
			<div class="stream stream__repos">
				<h2>Repositories</h2>
				{{#each sortedRepos}}
					<div class="stream stream__repos--repo">
	            		<a target="_blank" href="{{html_url}}" class="repository">{{name}}</a>
	            		<p class="tags">{{language}}</p>
	            		<p class="info">{{description}}</p>
	            		<p class="location">{{format-date created_at}}</p>
	            	</div>
	        	{{/each}}
		    </div>
		</div>
    </section>
</section>
