<div class="row">
    	<article>
    		<div class="col-xs-12">
		        <section class="github">
		        	<div class="github github__profile">
		        		<div class="github github__profile--avatar">
			        	</div>
		        		<div class="github__profile--bio">
		        			<h1>About</h1>
							<ul class="github__profile--mobile">						
							 	<li>
							  		<a class="social-links"><i class="fa fa-at fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a class="social-links"><i class="fa fa-linkedin fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a class="social-links"><i class="fa fa-github fa-fw"></i></a>
							  	</li>
								<li>
							  		<a class="social-links"><i class="fa fa-twitter fa-fw"></i></a>
							  	</li>
							</ul>
							<p>Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong. Cow pig landjaeger, tongue shankle biltong capicola. Pork loin flank ribeye boudin andouille alcatra. Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong.</p>
						</div>
					</div>
				</section>
				<section>
					<div>
						<div class="stream stream__git">
							<h2>Timeline</h2>
							<ul class="stream stream__info">
								<li>
									<span class="element"></span>
									<span class="number">2015</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="element"></span>
									<span class="number">2013</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="element"></span>
									<span class="number">2012</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="element"></span>
									<span class="number">2012</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
							</ul>
						</div>
					    <div class="stream stream__events">
							<h2>Latest Commits</h2>
				          	{{#each model.commits}}
				            	<a class="repository" href="{{this.repositoryUrl}}">{{this.name}}</a>
								<a class="info" href="{{this.commitUrl}}">{{this.message}}</a>
				            	<p class="date">{{format-date this.date}}</p>
				        	{{/each}}
				        </div>
						<div class="stream stream__repos">
							<h2>Repositories</h2>
								{{#each model.repos}}
					            	<a href="{{html_url}}" class="repository">{{name}}</a>
					            	<p class="info">{{description}}</p>
					            	<p class="tags">{{language}}</p>
					            	<p class="date">{{format-date created_at}}</p>
					        	{{/each}}
					    </div>
					</div>	     
		        </section>
    		</div>
    	</article>
</div>


