<div class="row">
    	<article>
    		<div class="col-xs-12">
		        <section class="github">
		        	<div class="github github__profile">
		        		<div class="github github__profile--avatar">
		        			<img {{bind-attr src="avatarUrl"}}>
{{!-- 							<ul class="stream stream__info">
								<li>
									<span class="number lightblue">{{model.gitUsers.following}}</span>
									<span class="info">Following</span>
								</li>
								<li>
									<span class="number orange">{{model.gitUsers.followers}}</span>
									<span class="info">Followers</span>
								</li>
								<li>
									<span class="number darkgray">{{model.gitUsers.public_repos}}</span>
									<span class="info">Projects</span>
								</li>
							</ul> --}}

{{!-- 						<h2>Personal</h2>
							<p>{{model.gitUsers.login}}</p>
							<p>{{model.gitUsers.name}}</p>
							<p>email: {{model.gitUsers.email}}</p>
							<p>Company:{{model.gitUsers.company}}</p>
							<p>Location:{{model.gitUsers.location}}</p> --}}
			        	</div>
		        		<div class="github__profile--bio">
		        			<h1>About</h1>
							<ul class="github__profile--mobile">						
							 	<li>
							  		<a class="social-links"><i class="fa fa-at fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a class="social-links"><i class="fa fa-linkedin fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a class="social-links"><i class="fa fa-github fa-fw"></i></a>
							  	</li>
								<li>
							  		<a class="social-links"><i class="fa fa-twitter fa-fw"></i></a>
							  	</li>
							</ul>
							<p>Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong. Cow pig landjaeger, tongue shankle biltong capicola. Pork loin flank ribeye boudin andouille alcatra. Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong.</p>
						</div>
					</div>
				</section>
				<section>
					<div>
						<div class="stream stream__git">
							<h2>Git Info</h2>
							<ul class="stream stream__info">
								<li>
									<span class="number">{{model.gitUsers.followers}}</span>
									<span class="info">Followers</span>
								</li>
								<li>
									<span class="number lightblue">{{model.gitUsers.following}}</span>
									<span class="info">Following</span>
								</li>
								<li>
									<span class="number orange">{{model.gitUsers.public_gists}}</span>
									<span class="info">Gists</span>
								</li>
								<li>
									<span class="number darkgray">{{model.gitUsers.public_repos}}</span>
									<span class="info">Repositories</span>
								</li>
							</ul>
						</div>
					    <div class="stream stream__events">
							<h2>Latest Commits</h2>
				          	{{#each model.commits}}
				            	<a href="{{this.commitUrl}}">{{this.message}}</a>
				            	<p>{{this.repositoryUrl}}</p>
				        	{{/each}}
				        </div>
						<div class="stream stream__repos">
							<h2>Repositories</h2>
					          {{#each model.repos}}
					            <p>{{name}}</p>
					            <p>{{description}}</p>
					            <p>{{language}}</p>
					        {{/each}}
					    </div>
					</div>	     
		        </section>
    		</div>
    	</article>
</div>


