<div class="row">
    	<article>
    		<div class="col-xs-12">
		        <section class="github">
		        	<div class="github github__profile">
		        		<div class="github github__profile--avatar">
		        			<img {{bind-attr src=model.gitUsers.avatar_url}}>
							<h1>Personal</h1>
							<p>{{model.gitUsers.login}}</p>
							<p>{{model.gitUsers.name}}</p>
							<p>email: {{model.gitUsers.email}}</p>
							<p>Company:{{model.gitUsers.company}}</p>
							<p>Location:{{model.gitUsers.location}}</p>
			        		</div>
		        		<div class="github__profile--bio">
		        			<h1>About</h1>
							<ul class="github__profile--mobile">						
							  <li><span><i class="fa fa-envelope-o fa-fw"></i>tmms.vll@gmail.com</span></li>
							  <li><span><i class="fa fa-map-marker fa-fw"></i>Spain</span></li>
							</ul>
							<p>Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong. Cow pig landjaeger, tongue shankle biltong capicola. Pork loin flank ribeye boudin andouille alcatra. Bacon ipsum dolor amet beef ribs ground round shankle, bacon alcatra tri-tip shank short ribs andouille kevin tail chuck salami biltong.</p>
						</div>
						<div class="stream stream__git">
							<h1>Git Info</h1>
							<p>Followers:{{model.gitUsers.followers}}</p>
							<p>Following:{{model.gitUsers.following}}</p>
							<p>Repositories:{{model.gitUsers.public_repos}}</p>
							<p>Gists:{{model.gitUsers.public_gists}}</p>
						</div>
					    <div class="stream stream__events">
							<h1>Events</h1>
				          	{{#each model.events}}
				            	<p>{{type}}</p>
				        	{{/each}}
				        </div>
						<div class="stream stream__repos">
							<h1>Repositories</h1>
					          {{#each model.repos}}
					            <p>{{name}}</p>
					            <p>{{description}}</p>
					            <p>{{language}}</p>
					        {{/each}}
					    </div>
					</div>	     
		        </section>
    		</div>
    	</article>
</div>


