<div class="row">
    	<article>
    		<div class="col-xs-12">
		        <section class="github">
		        	<div class="github github__profile">
		        		<div class="github github__profile--avatar">
			        	</div>
		        		<div class="github__profile--bio">
		        			<h1>About</h1>
							<ul class="github__profile--mobile">						
							 	<li>
							  		<a href="mailto:tmms.vll@gmail.com?Subject=Hello%20again" target="_top" class="social-links"><i class="fa fa-at fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a href="https://es.linkedin.com/in/tommasovillafreelance" target="_blank" class="social-links"><i class="fa fa-linkedin fa-fw"></i></a>
							  	</li>
							  	<li>
							  		<a href="https://github.com/Mannaio" target="_blank" class="social-links"><i class="fa fa-github fa-fw"></i></a>
							  	</li>
								<li>
							  		<a href="https://twitter.com/Tommaso_Villa" target="_blank" class="social-links"><i class="fa fa-twitter fa-fw"></i></a>
							  	</li>
								<li>
							  		<a href="https://soundcloud.com/mannaio" target="_blank" class="social-links"><i class="fa fa-soundcloud fa-fw"></i></a>
							  	</li>
								<li>
							  		<a href="https://www.flickr.com/photos/126042902@N03/" target="_blank" class="social-links"><i class="fa fa-flickr fa-fw"></i></a>
							  	</li>
							</ul>
							<p>Hi, i am an italian UI Developer living in South of Spain. I am responsible for implementing visual elements that users see and interact with in a web application. I enjoy combine the art of design with the art of programming.
							I have been working with the Node and Rails stack as a UI developer on projects of significant size ( views, large well-organized styles and javascript).</p>
							<ul class="github__profile--tags">
								<li>
									<p class="tags">CSS</p>
								</li>
								<li>
									<p class="tags">SASS</p>
								</li>
								<li>
									<p class="tags">BEM</p>
								</li>
								<li>
									<p class="tags">FLEXBOX</p>
								</li>
								<li>
									<p class="tags">HTML5</p>
								</li>
								<li>
									<p class="tags">GIT</p>
								</li>
								<li>
									<p class="tags">JQUERY</p>
								</li>
								<li>
									<p class="tags">EMBER</p>
								</li>
								<li>
									<p class="tags">GULP</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section>
					<div>
						<div class="stream stream__git">
							<h2>Timeline</h2>
							<ul class="stream stream__info">
								<li>
									<span class="element">
										<span class="element__emitter"></span>
									</span>
									<span class="number">2016</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2015</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2014</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2013</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2012</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2011</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2009</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2007</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
								<li>
									<span class="circle"></span>
									<span class="number">2006</span>
									<span class="info"> Cow pig landjaeger, tongue shankle biltong capicola.</span>
								</li>
							</ul>
						</div>
					    <div class="stream stream__events">
							<h2>Commits</h2>
				          	{{#each model.commits}}
				          		<div class="stream stream__repos--event">
					            	<a class="repository" href="{{this.repositoryUrl}}">{{this.name}}</a>
									<a class="info" href="{{this.commitUrl}}">{{this.message}}</a>
					            	<p class="date">{{format-date this.date}}</p>
					            </div>
				        	{{/each}}
				        </div>
						<div class="stream stream__repos">
							<h2>Repositories</h2>
							{{#each sortedRepos}}
								<div class="stream stream__repos--repo">
				            		<a href="{{html_url}}" class="repository">{{name}}</a>
				            		<p class="info">{{description}}</p>
				            		<p class="tags">{{language}}</p>
				            		<p class="date">{{format-date created_at}}</p>
				            	</div>
				        	{{/each}}
					    </div>
					</div>	     
		        </section>
    		</div>
    	</article>
</div>


