<section class="streaming__favorites">
    <div class="alert">If you are using Chrome, deactivate the flash plugin at chrome://plugins/ to listen the music</div>
    {{#each favorite in sortedFavorites itemController='playlist'}}
        {{#if favorite.formattedArtwork}}
            <article class="streaming__favorites__song">
                <a {{action 'setAsFavorite' favorite _view.contentIndex}} >
                    <img {{bind-attr src=favorite.formattedArtwork}} >
                    <div class="streaming__favorites__cover">
                        <span class="streaming__favorites__cover--title">{{favorite.title}}</span>
                    </div>
                </a>
                <section class="streaming__favorites__card">
                    <div class="streaming__favorites__info">
                        <img class="streaming__favorites__info--avatar" {{bind-attr src=favorite.user.avatar_url}}>
                    </div>
                    <div class="streaming__favorites__artist">
                        <span class="streaming__favorites__artist--user">{{favorite.user.username}}</span>
                        <span class="streaming__favorites__artist--genre">{{favorite.genre}}</span>
                    </div>
                </section>
            </article>
        {{/if}}
    {{/each}}
</section>
<div class="streaming">
    {{outlet 'player'}}
</div>