<!-- <div class="row">
    {{#each playlist in sortedPlaylists itemController='playlist'}}
        {{#if playlist.formattedArtwork}}
            <div class="col-xs-4">
                <a {{ action 'setAsPlaylist' playlist }} class="album-list-item">
                    <img {{bind-attr src=playlist.formattedArtwork}} >
                    <span class="album-title">
                        {{playlist.title}}
                    </span>
                </a>
            </div>
        {{/if}}
    {{/each}}
</div> -->

<section class="streaming__favorites">
    {{#each favorite in sortedFavorites itemController='playlist'}}
        {{#if favorite.formattedArtwork}}
            <article class="streaming__favorites__song">
                <a>
                    <img {{bind-attr src=favorite.formattedArtwork}} >
                    <div class="streaming__favorites__cover">
                        <span class="streaming__favorites__cover--title">{{favorite.title}}</span>
                    </div>
                </a>
                <div class="streaming__favorites__info">
                    <span class="streaming__favorites__info--user">{{favorite.user.username}}</span>
                    <span class="streaming__favorites__info--genre">{{favorite.genre}}</span>
                </div>
            </article>
        {{/if}}
    {{/each}}
</section>